---
import { fade } from "astro:transitions";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="Atelier | Home"
  coverSrc="https://placehold.co/800x400"
  transition:animate={fade({ duration: "0.4s" })}
>
  <h1 class="font-extrabold text-4xl">The Life of Kiseki</h1>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, neque? Earum et perspiciatis qui laborum facilis, magnam provident vel ex voluptatum vitae itaque sapiente impedit, soluta, reprehenderit aliquid fugit. Minus!
	</p>
</MainLayout>
