---
import BlogTag from "../badges/BlogTag.astro";

const { tagLabel, tagIcon } = Astro.props;
---

<div class="flex shadow-md shadow-neutral-400 rounded-2xl overflow-hidden">
  <div
    class="flex flex-col gap-3 px-8 py-6"
  >
    <h3 class="font-extrabold text-2xl">Title of Blog</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi
      aspernatur, quod atque animi neque.
    </p>
    <div class="flex flex-row gap-2 pt-1">
      <BlogTag icon="mdi:file-multiple-outline" label="Documentation" />
      <BlogTag icon="mdi:tag-outline" label="Life of an Artist" />
    </div>
  </div>
    <img src="https://picsum.photos/300/200" alt="">
</div>
