---
import BlogTag from "../badges/BlogTag.astro";

const { tagLabel, tagIcon, tagType } = Astro.props;
---

<div class="flex rounded-2xl outline-[1px] outline-neutral-100 overflow-hidden" style="box-shadow: 2px 2px 4px #bebebe,-2px -2px 4px #ffffff;">
  <div
    class="flex flex-col gap-3 px-8 py-6"
  >
    <h3 class="font-bold text-2xl">Title of Blog</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi
      aspernatur, quod atque animi neque.
    </p>
    <div class="flex flex-row gap-2 pt-1">
      <BlogTag icon="mdi:file-multiple-outline" label="Documentation" />
      <BlogTag icon="mdi:tag-outline" label="Life of an Artist" />
    </div>
  </div>
    <img src="https://picsum.photos/300/200" alt="">
</div>
