---
import { Image } from "astro:assets";
import Dropdown from "../button/Dropdown.astro";
---

<div>
    <h2>Latest News:</h2>
    <Dropdown label="Test" />
    <Image alt="" inferSize={true} src="https://placehold.co/800x200"/>
</div>