---
import { Icon } from "astro-icon/components";
const { icon, title, ref } = Astro.props;
---

<div
  class="flex flex-col gap-2 shadow-md shadow-neutral-300 px-6.5 py-6 rounded-2xl outline-[1px] outline-neutral-100"
  data-service-card
>
  <div class="flex items-center gap-2">
    <Icon name={icon} class="text-neutral-700 text-2xl" />
    <h3 class="font-extrabold text-xl">{title}</h3>
  </div>
  <div class="flex flex-col gap-2">
    <p class="inline-flex flex-col gap-1">
      <slot />
      <a
        href={ref ?? "/"}
        class="flex items-center self-end gap-0 border-b-2 border-b-blue-400 text-blue-500 whitespace-nowrap"
        ><small class="font-bold">read more</small><Icon
          name="mdi:arrow-right-thin"
        /></a
      >
    </p>
  </div>
</div>
