---
import { Icon } from "astro-icon/components";
const { icon, title } = Astro.props;
---

<div
class="shadow-neutral-300 shadow-sm px-6.5 py-4 rounded-2xl outline-[1px] outline-neutral-100"
  data-service-card
>
  <div class="flex items-center gap-2">
    <Icon
      name={icon}
      class="bg-pink-100 p-2 rounded-full text-pink-600 text-6xl"
     />
    <h3 class="font-extrabold text-2xl">{title}</h3>
  </div>
  <div class="flex flex-col gap-2">
    <p>
      <slot />
    </p>
  </div>
</div>