---
// @ts-nocheck
/** biome-ignore-all lint/correctness/noUnusedImports: <-> */
/** biome-ignore-all assist/source/organizeImports: <-> */
import { Image } from "astro:assets";
import Link from "../navigation/SidemenuLink.astro";

// Icons
import SquareXTwitter from "~icons/fa6-brands/square-x-twitter";
import SquareGithub from "~icons/fa6-brands/square-github";
import PixivIcon from "~icons/fa6-brands/pixiv";
import FeatherHome from "~icons/feather/home";
import FeatherFileText from "~icons/feather/file-text";
import FeatherBook from "~icons/feather/book";
import FeatherCode from "~icons/feather/code";
import FeatherEdit3 from "~icons/feather/edit-3";
import FeatherAward from "~icons/feather/award";
import FeatherMessageCircle from "~icons/feather/message-circle";

import imgPfp from "../../assets/pfp.png";
---

<section class="top-6 sticky flex flex-col items-center gap-4 max-w-xs">
  <div
    class="flex flex-col items-center gap-4 bg-white shadow-lg shadow-neutral-200 px-6 py-8 rounded-2xl"
    transition:persist
  >
    <Image alt="" inferSize={true} src={imgPfp} class="rounded-2xl w-24 h-24" />
    <h1 class="font-bold text-2xl">Kiseki 奇跡</h1>
    <p>奇跡のアトリエへようこそ！</p>
    <div class="flex items-center gap-4">
      <a
        href="https://x.com/_kiseki_miracle"
        rel="noreferrer noopener"
        target="_blank"
      >
        <SquareXTwitter
          class="scale-150 hover:cursor-pointer"
          data-sidemenu-icon
        />
      </a>
      <a
        href="https://github.com/KisekiMiracle"
        rel="noreferrer noopener"
        target="_blank"
      >
        <SquareGithub
          class="hover:text-purple-900 scale-150 transition-colors duration-150 hover:cursor-pointer"
          data-sidemenu-icon
        />
      </a>
      <a
        href="https://www.pixiv.net/en/users/110005305"
        rel="noreferrer noopener"
        target="_blank"
      >
        <PixivIcon
          class="hover:text-blue-700 scale-150 transition-colors duration-150 hover:cursor-pointer"
          data-sidemenu-icon
        />
      </a>
    </div>
  </div>
  <div
    class="flex flex-col justify-start bg-white shadow-lg shadow-neutral-200 px-6 py-8 rounded-2xl w-full"
  >
    <Link label="Home" url="/">
      <FeatherHome slot="icon" />
    </Link>
    <Link label="About" url="/about">
      <FeatherFileText slot="icon" />
    </Link>
    <Link label="Blog" url="/blog">
      <FeatherBook slot="icon" />
    </Link>
    <Link label="Projects" url="/projects">
      <FeatherCode slot="icon" />
    </Link>
    <Link label="Artworks" url="/artworks">
      <FeatherEdit3 slot="icon" />
    </Link>
    <Link label="Attribution" url="/attribution">
      <FeatherAward slot="icon" />
    </Link>
    <Link label="Contact Me!" url="/contact">
      <FeatherMessageCircle slot="icon" />
    </Link>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  document.addEventListener("astro:page-load", () => {
    const icons = document.querySelectorAll("[data-sidemenu-icon]");
    icons.forEach((icon) => {
      icon.addEventListener("mouseenter", () => {
        gsap.to(icon, { scale: 1.75, duration: 0.175 });
      });
      icon.addEventListener("mouseleave", () => {
        gsap.to(icon, { scale: 1.5, duration: 0.175 });
      });
    });
  });
</script>
