---
import { fade } from "astro:transitions";
import MainLayout from "../layouts/MainLayout.astro";
import Tag from "../components/badges/Tag.astro";
import TechBadge from "../components/badges/TechBadge.astro";
---

<MainLayout
  title="Atelier | Home"
  coverSrc="../../../src/assets/marina_beach.png"
  coverPosition="object-bottom"
  transition:animate={fade({ duration: "0.4s" })}
>
  <div class="gap-8 grid" style="grid-template-columns: auto 1fr;">
    <img src="../../src/assets/pfp.png" alt="" class="rounded-2xl w-[160px]" />
    <div class="flex flex-col gap-2">
      <h1 class="font-extrabold text-3xl">KisekiMiracle</h1>
      <p class="mt-[-8px] text-neutral-500 text-xl">
        Pixel Artist and Frontend Web Developer
      </p>
      <div class="flex gap-2 mt-0.5">
        <Tag icon="fa6-brands:x-twitter" label="Twitter / X" color="neutral" />
        <Tag icon="fa6-brands:pixiv" label="Pixiv" color="neutral" />
        <Tag icon="fa6-brands:github" label="Github" color="neutral" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
        voluptatibus numquam consequatur magnam, non nemo eius dignissimos
        minima perspiciatis ratione libero laborum. Eius, ipsam fugiat ab
        laboriosam provident ratione ea?
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <h2 class="font-extrabold text-2xl">Statistics for Nerds</h2>
    <p class="flex flex-col gap-1">
      <span>This website was built with Astro!</span>
      <span>I use Arch, btw.</span>
    </p>
    <div class="gap-4 grid grid-cols-5 mt-4">
      <TechBadge icon="lineicons:html5" label="HTML" />
      <TechBadge icon="lineicons:css3" label="CSS" />
      <TechBadge icon="lineicons:javascript" label="JavaScript" />
      <TechBadge icon="lineicons:typescript" label="TypeScript" />
      <TechBadge icon="lineicons:tailwindcss" label="TailwindCSS" />
      <TechBadge icon="fa6-brands:sass" label="Sass" />
      <TechBadge icon="fluent-mdl2:linux-logo-32"  label="Linux" />
      <TechBadge icon="lineicons:astro" label="Astro" />
      <TechBadge icon="lineicons:react" label="React" />
      <TechBadge icon="lineicons:flutter" label="Flutter" />
      <TechBadge icon="devicon-plain:matlab" label="MatLab" />
      <TechBadge icon="devicon-plain:cplusplus" label="C++" />
      <TechBadge icon="file-icons:assembly-generic" label="Assembly" />
      <TechBadge icon="simple-icons:odoo" label="Odoo / Owl" />
      <TechBadge icon="lineicons:wordpress"  label="Wordpress" />
    </div>
  </div>
</MainLayout>
