---
// @ts-nocheck
/** biome-ignore-all lint/correctness/noUnusedImports: <-> */
/** biome-ignore-all assist/source/organizeImports: <-> */
import { fade } from "astro:transitions";
import MainLayout from "../layouts/MainLayout.astro";
import Tag from "../components/badges/Tag.astro";
import TechBadge from "../components/badges/TechBadge.astro";
import coverImg from "../../src/assets/marina_beach.png";
import Activity from "../components/badges/Activity.astro";
import ProfilePicture from "../../src/assets/pfp.png";

// Icons
import Fa6BrandsSquareXTwitter from "~icons/fa6-brands/square-x-twitter";
import Fa6BrandsPixiv from "~icons/fa6-brands/pixiv";
import Fa6BrandsGithub from "~icons/fa6-brands/github";
import LineiconsHtml5 from "~icons/lineicons/html5";
import LineiconsCss3 from "~icons/lineicons/css3";
import LineiconsJavascript from "~icons/lineicons/javascript";
import LineiconsTypescript from "~icons/lineicons/typescript";
import LineiconsTailwindcss from "~icons/lineicons/tailwindcss";
import LineiconsAstro from "~icons/lineicons/astro";
import LineiconsReact from "~icons/lineicons/react";
import LineiconsFlutter from "~icons/lineicons/flutter";
import LineIconsCode from "~icons/lineicons/code";
import MdiNewBox from "~icons/mdi/new-box";
---

<MainLayout
  title="About | Kiseki's Atelier"
  coverSrc={coverImg}
  coverPosition="object-bottom"
  transition:animate={fade({ duration: "0.4s" })}
>
  <div class="gap-8 grid" style="grid-template-columns: auto 1fr;">
    <img src={ProfilePicture} alt="" class="rounded-2xl w-[160px]" />
    <div class="flex flex-col gap-2">
      <h1 class="font-extrabold text-3xl">Kiseki</h1>
      <p class="mt-[-8px] text-neutral-500 text-lg">
        Pixel Artist and Frontend Web Developer
      </p>
      <div class="flex gap-2 mt-0.5">
        <Tag label="Twitter / X" color="neutral">
          <Fa6BrandsSquareXTwitter slot="icon" />
        </Tag>
        <Tag label="Pixiv" color="neutral">
          <Fa6BrandsPixiv slot="icon" />
        </Tag>
        <Tag label="Github" color="neutral">
          <Fa6BrandsGithub slot="icon" />
        </Tag>
      </div>
      <p class="text-[16px]">
        Haroo Haroo~ Name's Kiseki~ Pleased to meet ya! I am a pixel artist and
        a full-time frontend web developer. My web skills may be rough on the
        edges and I may have not the best knowledge on what "clean code" is in a
        wider environment, but I try my best! About my artworks–I invite you to
        take a peek at them over Twitter or Pixiv, where I share my art with the
        world~
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1 mt-4">
    <h2 class="flex items-center gap-2 font-extrabold text-3xl">
      <LineIconsCode class="text-blue-700" />
      Statistics for Nerds
    </h2>
    <p class="flex flex-col gap-1">
      The technological stack that I use confidently. This site was made with
      Astro, by the way.
    </p>
    <div class="gap-4 grid grid-cols-5 mt-3.5">
      <TechBadge label="HTML">
        <LineiconsHtml5 class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:css3" label="CSS">
        <LineiconsCss3 class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:javascript" label="JavaScript">
        <LineiconsJavascript class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:typescript" label="TypeScript">
        <LineiconsTypescript class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:tailwindcss" label="TailwindCSS">
        <LineiconsTailwindcss class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:astro" label="Astro">
        <LineiconsAstro class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:react" label="React">
        <LineiconsReact class="w-12 h-12" slot="icon" />
      </TechBadge>
      <TechBadge icon="lineicons:flutter" label="Flutter">
        <LineiconsFlutter class="w-12 h-12" slot="icon" />
      </TechBadge>
    </div>
  </div>
  <div class="flex flex-col gap-4 mt-7 mb-4">
    <h2 class="flex items-center gap-2 font-extrabold text-3xl">
      <MdiNewBox class="text-blue-700" />
      Recent Activity
    </h2>
    <div
      class="flex flex-row gap-1 bg-neutral-100/60 py-6 pr-6 pl-10 rounded-2xl max-w-full overflow-x-auto"
    >
      <Activity
        icon="stash:circle-dot"
        date="October 2025"
        title="Redesign of Kiseki's Atelier"
        content="Kiseki's Atelier Project has been retaken after many months in a limbo. The entire site was rebuilt from scratch–although still written in Astro."
      />
      <Activity
        icon="stash:circle-dot"
        date="March 2025"
        title="Kiseki's Atelier is born"
        content="Kiseki's Atelier Project is started."
      />
    </div>
  </div>
</MainLayout>
