---
interface Props {
	imgSource: string;
    position: string;
}
const { imgSource, position = 'object-center' } = Astro.props;
---

<div>
    <img src={imgSource} alt="" class=`w-max max-h-[400px] object-cover ${position}`/>
</div>