---
import { Image } from "astro:assets";

interface Props {
  imgSource: any;
  position: string;
}
const { imgSource, position = "object-center" } = Astro.props;
---

<div>
  <Image
    src={imgSource}
    alt=""
    width="900"
    height="400"
    inferSize={true}
    class=`w-full max-h-[400px] object-cover ${position}`
  />
</div>
