---

---

<footer class="bg-neutral-700 px-4 py-2 font-normal text-white">
    <h1>Attributions:</h1>
    <p>Font Awesome 6 Brands by <a href="https://github.com/FortAwesome/Font-Awesome" class="text-blue-200 hover:decoration-transparent underline transition-color duration-150" rel="noreferrer noopener" target="_blank">Dave Gandy</a></p>
</footer>