---
import type { CollectionEntry } from "astro:content";
import { fade } from "astro:transitions";
import Cover from "../components/section/Cover.astro";
import MainLayout from "./MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<MainLayout
  title={title}
  coverSrc="https://picsum.photos/900/400"
  transition:animate={fade({ duration: "0.4s" })}
>
    <div class="prose">
      <div class="title">
        <div class="date">
          {pubDate}
          {
            updatedDate && (
              <div class="last-updated-on">Last updated on {updatedDate}</div>
            )
          }
        </div>
        <h1 class="text-neutral-700">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
</MainLayout>
